# Python Examples 
adapted from [Data School](http://www.dataschool.io/) [GitHub repository] and [blog post](http://www.dataschool.io/python-quick-reference/)

## Table of contents

1. <a href="#1.-Imports">Imports</a>
2. <a href="#2.-Data-Types">Data Types</a>
3. <a href="#3.-Math">Math</a>
4. <a href="#4.-Comparisons-and-Boolean-Operations">Comparisons and Boolean Operations</a>
5. <a href="#5.-Conditional-Statements">Conditional Statements</a>
6. <a href="#6.-Lists">Lists</a>
7. <a href="#7.-Tuples">Tuples</a>
8. <a href="#8.-Strings">Strings</a>
9. <a href="#9.-Dictionaries">Dictionaries</a>
10. <a href="#10.-Sets">Sets</a>
11. <a href="#11.-Defining-Functions">Defining Functions</a>
12. <a href="#12.-Anonymous-%28Lambda%29-Functions">Anonymous (Lambda) Functions</a>
13. <a href="#13.-For-Loops-and-While-Loops">For Loops and While Loops</a>
14. <a href="#14.-Map-and-Filter">Map and Filter</a>
15. <a href="#15.-Class">Class and Object</a>
16. <a href="#16.-Exercises">Exercises</a>

## 1. Imports

In [1]:
# 'generic import' of math module
import math
math.sqrt(25)

5.0

In [2]:
# import a function
from math import sqrt
sqrt(25)    # no longer have to reference the module

5.0

In [7]:
# import multiple functions at once
from math import cos, floor

In [8]:
# import all functions in a module (generally discouraged)
from csv import *

In [9]:
# define an alias
import datetime as dt

In [10]:
# show all functions in math module
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

[<a href="#Python-Examples">Back to top</a>]

## 2. Data Types

**Determine the type of an object:**

In [11]:
type(2)

int

In [12]:
type(2.0)

float

In [13]:
type('two')

str

In [14]:
type(True)

bool

In [15]:
type(None)

NoneType

**Check if an object is of a given type:**

In [16]:
isinstance(2.0, int)

False

In [17]:
isinstance(2.0, (int, float))

True

**Zero, `None`, and empty containers are converted to `False`:**

In [18]:
bool(0)

False

In [19]:
bool(None)

False

In [20]:
bool('')    # empty string

False

In [21]:
bool([])    # empty list

False

In [22]:
bool({})    # empty dictionary

False

**Non-empty containers and non-zeros are converted to `True`:**

In [23]:
bool(2)

True

In [24]:
bool('two')

True

In [25]:
bool([2])

True

[<a href="#Python-Examples">Back to top</a>]

## 3. Math

In [26]:
10 + 4

14

In [27]:
10 * 4

40

In [28]:
10 ** 4    # exponent

10000

In [29]:
5 % 4      # modulo - computes the remainder

1

In [30]:
# Python 2: returns 2 (because both types are 'int')
# Python 3: returns 2.5
10 / 4

2.5

In [31]:
10 / float(4)

2.5

__future__ is a pseudo-module which programmers can use to enable new language features which are not compatible with the current interpreter.

In [32]:
# force '/' in Python 2 to perform 'true division' (unnecessary in Python 3)
from __future__ import division

In [33]:
10 / 4     # true division

2.5

In [35]:
10 // 4    # floor division

2

[<a href="#Python-Examples">Back to top</a>]

## 4. Comparisons and Boolean Operations

**Assignment statement:**

In [36]:
x = 5

**Comparisons:**

In [37]:
x > 3

True

In [38]:
x >= 3

True

In [39]:
x != 3

True

In [41]:
x < 5

False

**Boolean operations:**

In [42]:
5 > 3 and 6 > 3

True

In [43]:
5 > 3 or 5 < 3

True

In [44]:
not False

True

In [45]:
False or not False and True     # evaluation order: not, and, or

True

[<a href="#Python-Examples">Back to top</a>]

## 5. Conditional Statements

In [46]:
# if statement
if x > 0:
    print('positive')

positive

In [47]:
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero or negative')

positive

In [48]:
# if/elif/else statement
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

In [49]:
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

In [50]:
# single-line if/else statement (sometimes discouraged), known as a 'ternary operator'
'positive' if x > 0 else 'zero or negative'

'positive'

[<a href="#Python-Examples">Back to top</a>]

## 6. Lists

- **List properties:** ordered, iterable, mutable, can contain multiple data types

In [51]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [52]:
# create a list
simpsons = ['homer', 'marge', 'bart']

**Examine a list:**

In [53]:
# print element 0
simpsons[0]

'homer'

In [54]:
len(simpsons)

3

**Modify a list (does not return the list):**

In [55]:
# append element to end
simpsons.append('lisa')
simpsons

['homer', 'marge', 'bart', 'lisa']

In [56]:
# append multiple elements to end
simpsons.extend(['itchy', 'scratchy'])
simpsons

['homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [57]:
# insert element at index 0 (shifts everything right)
simpsons.insert(0, 'maggie')
simpsons

['maggie', 'homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [58]:
# search for first instance and remove it
simpsons.remove('bart')
simpsons

['maggie', 'homer', 'marge', 'lisa', 'itchy', 'scratchy']

In [59]:
# remove element 0 and return it
simpsons.pop(0)

'maggie'

In [60]:
# remove element 0 (does not return it)
del simpsons[0]
simpsons

['marge', 'lisa', 'itchy', 'scratchy']

In [61]:
# replace element 0
simpsons[0] = 'krusty'
simpsons

['krusty', 'lisa', 'itchy', 'scratchy']

In [62]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned', 'rod', 'todd']
neighbors

['krusty', 'lisa', 'itchy', 'scratchy', 'ned', 'rod', 'todd']

**Find elements in a list:**

In [63]:
# counts the number of instances
simpsons.count('lisa')

1

In [64]:
# returns index of first instance
simpsons.index('itchy')

2

**List slicing:**

In [71]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [72]:
# element 0
weekdays[0]

'mon'

In [73]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [74]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [75]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [76]:
# last element
weekdays[-1]

'fri'

In [77]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [78]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [79]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

**Sort a list in place (modifies but does not return the list):**

In [80]:
simpsons.sort()
simpsons

['itchy', 'krusty', 'lisa', 'scratchy']

In [81]:
# sort in reverse
simpsons.sort(reverse=True)
simpsons

['scratchy', 'lisa', 'krusty', 'itchy']

In [20]:
# sort by a key
simpsons.sort(key=len)
simpsons

['bart', 'homer', 'marge']

**Return a sorted list (does not modify the original list):**

In [83]:
sorted(simpsons)

['itchy', 'krusty', 'lisa', 'scratchy']

In [84]:
sorted(simpsons, reverse=True)

['scratchy', 'lisa', 'krusty', 'itchy']

In [85]:
sorted(simpsons, key=len)

['lisa', 'itchy', 'krusty', 'scratchy']

**Object references and copies:**

In [86]:
num = [1, 2, 3, 4]
# create a second reference to the same list
same_num = num

In [87]:
# modifies both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 2, 3, 4]
[0, 2, 3, 4]

In [88]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

**Examine objects:**

In [89]:
num is same_num    # checks whether they are the same object

True

In [90]:
num is new_num

False

In [91]:
num == same_num    # checks whether they have the same contents

True

In [92]:
num == new_num

True

[<a href="#Python-Examples">Back to top</a>]

## 7. Tuples

- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size
- .....I'm still a little vague on tuples but hopefully I'll get the hang of how the work

In [100]:
# create a tuple directly
digits = (0, 1, 'two')
print(str(digits))

(0, 1, 'two')

In [102]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

# .....so it sounds like a tuple is just a dumber, simpler list that can't be changed once made?
# ..............maybe

In [107]:
# trailing comma is required to indicate it's a tuple
zero = (0, 99, '3')
type(zero)

tuple

**Examine a tuple:**

In [108]:
digits[2]

'two'

In [109]:
len(digits)

3

In [110]:
# counts the number of instances of that value
digits.count(0)

1

In [111]:
# returns the index of the first instance of that value
digits.index(1)

1

**Modify a tuple:**

In [112]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

In [114]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4, 3, 4)

**Other tuple operations:**

In [115]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [116]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [117]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpson

[[<a href="#Python-Examples">Back to top</a>]

## 8. Strings

- **String properties:** iterable, immutable

In [118]:
# convert another data type into a string
s = str(42)
s

'42'

In [119]:
# create a string directly
s = 'I like you'

**Examine a string:**

In [120]:
s[0]

'I'

In [121]:
len(s)

10

**String slicing is like list slicing:**

In [122]:
s[:6]

'I like'

In [123]:
s[7:]

'you'

In [124]:
s[-1]

'u'

**Basic string methods (does not modify the original string):**

In [125]:
s.lower()

'i like you'

In [126]:
s.upper()

'I LIKE YOU'

In [127]:
s.startswith('I')

True

In [128]:
s.endswith('you')

True

In [129]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [130]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [131]:
# returns -1 since not found
s.find('hate')

-1

In [132]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'

**Split a string:**

In [133]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [134]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'you']

In [135]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

**Join or concatenate strings:**

In [136]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [137]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

**Remove whitespace from the start and end of a string:**

In [138]:
s5 = '  ham and cheese  '
s5.strip()

'ham and cheese'

[<a href="#Python-Examples">Back to top</a>]

## 9. Dictionaries

- **Dictionary properties:** unordered, iterable, mutable, can contain multiple data types
- Made of key-value pairs
- Keys must be unique, and can be strings, numbers, or tuples
- Values can be any type

In [142]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [143]:
# create a dictionary (two ways)
family = {'dad':'homer', 'mom':'marge', 'size':6}
family = dict(dad='homer', mom='marge', size=6)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [144]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

**Examine a dictionary:**

In [145]:
# pass a key to return its value
family['dad']

'homer'

In [146]:
# return the number of key-value pairs
len(family)

3

In [147]:
# check if key exists in dictionary
'mom' in family

True

In [148]:
# dictionary values are not checked
'marge' in family

False

In [149]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

dict_keys(['dad', 'mom', 'size'])

In [150]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

dict_values(['homer', 'marge', 6])

In [151]:
# returns a list of key-value pairs (Python 2) or an iterable view (Python 3)
family.items()

dict_items([('dad', 'homer'), ('mom', 'marge'), ('size', 6)])

**Modify a dictionary (does not return the dictionary):**

In [152]:
# add a new entry
family['cat'] = 'snowball'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball'}

In [153]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball ii'}

In [154]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [155]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'kids': ['bart', 'lisa']}

In [156]:
# remove an entry and return the value
family.pop('dad')

'homer'

In [157]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart', 'lisa'],
 'baby': 'maggie',
 'grandpa': 'abe'}

**Access values more safely with `get`:**

In [158]:
family['mom']

'marge'

In [159]:
# equivalent to a dictionary lookup
family.get('mom')

'marge'

In [160]:
# this would throw an error since the key does not exist
# family['grandma']

In [161]:
# return None if not found
family.get('grandma')

In [162]:
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

[<a href="#Python-Examples">Back to top</a>]

## 10. Sets

- **Set properties:** unordered, iterable, mutable, can contain multiple data types
- Made of unique elements (strings, numbers, or tuples)
- Like dictionaries, but with keys only (no values)
- ......interesting; this is kind of new to me........... not sure i fully get it
- ..........however having the ability to find the difference/intersection/union seems useful

In [196]:
# create an empty set
empty_set = set()

In [197]:
# create a set directly
languages = {'python', 'r', 'java', 'ruby'}

In [198]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])
gems = set(['ruby', 'diamond'])

**Examine a set:**

In [199]:
len(gems)

2

In [200]:
'ruby' in gems

True

**Set operations:**

In [202]:
# intersection
languages & gems

{'ruby'}

In [203]:
# union
languages | gems

{'diamond', 'java', 'python', 'r', 'ruby'}

In [204]:
# set difference
languages - gems

{'java', 'python', 'r'}

In [205]:
# set difference
snakes - languages

{'cobra', 'viper'}

**Modify a set (does not return the set):**

In [206]:
# add a new element
languages.add('sql')
languages

{'java', 'python', 'r', 'ruby', 'sql'}

In [208]:
# try to add an existing element (ignored, no error)
languages.add('c_plus_plus')
languages

{'c_plus_plus', 'java', 'python', 'r', 'ruby', 'sql'}

In [209]:
# remove an element
languages.remove('java')
languages

{'c_plus_plus', 'python', 'r', 'ruby', 'sql'}

In [210]:
# try to remove a non-existing element (this would throw an error)
# languages.remove('c')

In [211]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

{'c_plus_plus', 'python', 'r', 'ruby', 'sql'}

In [212]:
# remove and return an arbitrary element
languages.pop()

'c_plus_plus'

In [213]:
# remove all elements
languages.clear()
languages

set()

In [214]:
# add multiple elements (can also pass a set)
languages.update(['go', 'spark'])
languages

{'go', 'spark'}

**Get a sorted list of unique elements from a list:**

In [215]:
sorted(set([9, 0, 2, 1, 0]))

[0, 1, 2, 9]

[<a href="#Python-Examples">Back to top</a>]

## 11. Defining Functions

**Define a function with no arguments and no return values:**

In [217]:
def print_text():
    print('this is text')

In [218]:
# call the function
print_text()

this is text

**Define a function with one argument and no return values:**

In [219]:
def print_this(x):
    print(x)

In [220]:
# call the function
print_this(3)

3

In [221]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(3)

3

**Define a function with one argument and one return value:**

In [222]:
def square_this(x):
    return x**2

In [223]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

In [224]:
# call the function
square_this(3)

9

In [226]:
# assigns 9 to var, but does not print 9
var = square_this(3)

**Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):**

In [227]:
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [228]:
# call the function
calc(10, 4, op='add')

14

In [229]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [230]:
# default for 'op' is 'add'
calc(10, 4)

14

In [231]:
calc(10, 4, 'sub')

6

In [232]:
calc(10, 4, 'div')

valid operations are add and sub

**Return two values from a single function:**

In [233]:
def min_max(nums):
    return min(nums), max(nums)

In [235]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

(1, 3)

In [236]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

1
3

[<a href="#Python-Examples">Back to top</a>]

## 12. Anonymous (Lambda) Functions

- Primarily used to temporarily define a function for use by another function
- ............I've only really HEARD of this-- havent really used it much myself
- no that's a lie I've used this once-- in exactly the manner shown-- never for anything else

In [35]:
# define a function the "usual" way
def squared(x):
    return x**2
squared(5)

25

In [6]:
# define an identical function using lambda
squared = lambda x: x**2

<function <lambda> at 0x7fe5a80342f0>

**Sort a list of strings by the last letter:**

In [90]:
# without using lambda
simpsons = ['homer', 'marge', 'bart', 'maggie', 'lisa']
def last_letter(word):
    return word[-1]
sorted(simpsons, key=last_letter)

def how_many_gs(word):
    return str(word).count('g')
sorted(simpsons, key=how_many_gs)


def how_many_ms(word):
    return str(word).count('m')
sorted(simpsons, key=how_many_ms)


def how_many_hs(word):
    return str(word).count('h')
l1 = sorted(simpsons, key=how_many_hs)
print( str(l1[::-1]))
print( str(l1))

# according to python's own documentation, lambda is just functions for lazy people--
# but I have no problem with that:
add7 = lambda a, b: a + b + 7
add7(50,20)
# it allows you to use a function, without going through all the trouble of creating one the proper way

x123=(3,4,5)

q123=[50,100,200]


add7_many = lambda *args: sum(args) +7
add7_many(10,20,50)
add7_many(q123[0],q123[1])

['homer', 'lisa', 'maggie', 'bart', 'marge']
['marge', 'bart', 'maggie', 'lisa', 'homer']

157

In [75]:
# using lambda
sorted(simpsons, key=lambda word: word[-1])

# ...whereas for THIS, you don't even MENTION 'last_letter'-- the function is defined

nums_l1=[77,99,111,44,35]
nums_l2=[47,79,88,84,75]

def reduce_em(n):
    return lambda a : a / n

# we re-used/recycled a reducification function by having a decimation function make use
# of it:

decimate_em = reduce_em(10/9)
print(str(decimate_em(100)))

sorted(simpsons, key=lambda word123: word123[0])

sorted(simpsons, key=lambda word321: word321[-1])


# by using lambda you can throw as many arguments in as you want-- for example:

import random



def iron_dice999(names9, nums9):
    random.randint(77,100)

90.0

83

[<a href="#Python-Examples">Back to top</a>]

## 13. For Loops and While Loops

**`range` returns a list of integers (Python 2) or a sequence (Python 3):**

In [241]:
# includes the start value but excludes the stop value
range(0, 3)

range(0, 3)

In [242]:
# default start value is 0
range(3)

range(0, 3)

In [243]:
# third argument is the step value
range(0, 5, 2)

range(0, 5, 2)

**`for` loops:**

In [244]:
# recommended style
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [245]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, value)

dad homer
mom marge
size 6

[<a href="#Python-Examples">Back to top</a>]

## 14. Map and Filter

**Applying map() operations on List items**

In [250]:
# for loop to create a list of cubes
nums = [1, 2, 3, 4, 5]
cubes = []
for num in nums:
    cubes.append(num**3)
cubes

[1, 8, 27, 64, 125]

Another way: passed in a user-defined function applied to each item in the list. Built-in map() function calls cubeit() on each list item and collects all the return values into a new list.

In [91]:
nums = [1, 2, 3, 4, 5]
def cubeit(x): return x ** 3
list(map(cubeit, nums))
# interesting... could be useful:
# --it looks like map just applies the func in the first slot to each element of the var in the SECOND slot

nums2 = list(range(25,100,2))

def chunk_em(x): return x / 3

list(map(chunk_em, nums2))

[8.333333333333334,
 9.0,
 9.666666666666666,
 10.333333333333334,
 11.0,
 11.666666666666666,
 12.333333333333334,
 13.0,
 13.666666666666666,
 14.333333333333334,
 15.0,
 15.666666666666666,
 16.333333333333332,
 17.0,
 17.666666666666668,
 18.333333333333332,
 19.0,
 19.666666666666668,
 20.333333333333332,
 21.0,
 21.666666666666668,
 22.333333333333332,
 23.0,
 23.666666666666668,
 24.333333333333332,
 25.0,
 25.666666666666668,
 26.333333333333332,
 27.0,
 27.666666666666668,
 28.333333333333332,
 29.0,
 29.666666666666668,
 30.333333333333332,
 31.0,
 31.666666666666668,
 32.333333333333336,
 33.0]

Or, just use a lambda function directly in the map() call

In [93]:
list(map((lambda x: x **3), nums))

l7 = list(range(75,300,5))

list(map( (lambda x: x / 2), l7 ))

[37.5,
 40.0,
 42.5,
 45.0,
 47.5,
 50.0,
 52.5,
 55.0,
 57.5,
 60.0,
 62.5,
 65.0,
 67.5,
 70.0,
 72.5,
 75.0,
 77.5,
 80.0,
 82.5,
 85.0,
 87.5,
 90.0,
 92.5,
 95.0,
 97.5,
 100.0,
 102.5,
 105.0,
 107.5,
 110.0,
 112.5,
 115.0,
 117.5,
 120.0,
 122.5,
 125.0,
 127.5,
 130.0,
 132.5,
 135.0,
 137.5,
 140.0,
 142.5,
 145.0,
 147.5]

**Applying filter() operations on List items**

The built-in filter() function extracts each element in the sequence for which the function returns True

In [92]:
morenums = [-6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6]
list(filter((lambda x: x >= 0), morenums))

list(filter((lambda x: x > -3 and x < 5), morenums))

[-2, -1, 0, 1, 2, 3, 4]

[<a href="#Python-Examples">Back to top</a>]

## 15. Class

As an object-oriented programming language, Python provides all standard features of classes and objects. A class has attributes and methods, and an object is an instance of a class.

In [262]:
class Person:
  '''
  This is a simple class for Person
  
  Parameters
  ------------
  name : string
      the name of the person
  age : int
      the age of the person
      
  ''' 
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def talk(self, words):
    print(self.name + " says " + words)
    
p1 = Person("John", 36)

print(p1.name)
print(p1.age)
p1.talk("What a wonderful day!")


class Orc:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def bellow(self, words):
    print(self.name + " says " + str(words).upper())

o1 = Orc('zug zug', 25)
print(o1.name)

o1.bellow("What a wonderful day!")

John
36
John says What a wonderful day!
zug zug
zug zug says WHAT A WONDERFUL DAY!

[<a href="#Python-Examples">Back to top</a>]

## 16. Exercises

Add below an example of using lambda function with either map or filter function to modify a list of your own. Use a code box for your code and a markdown text box to explain your code.

In [95]:
#add your code here
# here we go;

# l8 is our input list that's going to be altered:
l8 = list(range(10,290,5))

# ...and this is where we use map to shove the entire list of values we've just created
# in l8, into a lambda function that divides each individual element within the list by
# 2.  This is very useful because it allows us to quickly employ complex calculations
# in a single line, to a large number of values, without cluttering the code up with
# functions we might only need to use once.  
list(map( (lambda x: x / 2), l8 ))

[5.0,
 7.5,
 10.0,
 12.5,
 15.0,
 17.5,
 20.0,
 22.5,
 25.0,
 27.5,
 30.0,
 32.5,
 35.0,
 37.5,
 40.0,
 42.5,
 45.0,
 47.5,
 50.0,
 52.5,
 55.0,
 57.5,
 60.0,
 62.5,
 65.0,
 67.5,
 70.0,
 72.5,
 75.0,
 77.5,
 80.0,
 82.5,
 85.0,
 87.5,
 90.0,
 92.5,
 95.0,
 97.5,
 100.0,
 102.5,
 105.0,
 107.5,
 110.0,
 112.5,
 115.0,
 117.5,
 120.0,
 122.5,
 125.0,
 127.5,
 130.0,
 132.5,
 135.0,
 137.5,
 140.0,
 142.5]


Add below an example of using class and object. Modify the Person class to add a new method (or you can create a new class). The method should have at least two parameters and one of them has a default value. Create some objects of your class and invoke the method on these objects.

In [108]:
#add your code here

import random

class Ogre:
  def __init__(self, name, rage, drunkenness):
    self.name = name
    self.rage = rage
    self.drunkenness = drunkenness
  def bellow(self, words, rage):
    rage_bonus=''
    if(rage >= 75):
        rage_bonus='!!!'
    print(self.name + " bellows " + str(words).upper() + str(rage_bonus))
  def sing(self, words, drunkenness):
    drunk_bonus=''
    if(drunkenness >= 75):
        drunk_bonus=' ......belch...hic'
    s1=words
    l2=[]
    l1=s1.split(' ')
    
    for l_elem in l1:
        l2.append(l_elem.replace('a','aaa').replace('o','oooo'))
    s2=''
    s2=(' ').join(l2)
    
    print(self.name + " sings " + str(s2) + str(drunk_bonus))

    
rage_in = int(random.randint(45,100))
drunk_in = int(random.randint(55,100))
    
o1 = Ogre('Zug-Zug', rage_in, drunk_in )

print(o1.name)
print('total rage: ' + str(o1.rage) + ' out of 100 scale')
print('total drunkenness: ' + str(o1.drunkenness) + ' out of 100 scale')

o1.sing("What a wonderful morning!", drunk_in)

o1.bellow("What a wonderful day!", rage_in)

Zug-Zug
total rage: 91 out of 100 scale
total drunkenness: 93 out of 100 scale
Zug-Zug sings Whaaat aaa woooonderful moooorning! ......belch...hic
Zug-Zug bellows WHAT A WONDERFUL DAY!!!!